body {
    background-color: #ffffff;
    padding: 0px 10px;
             }

h1 {
    font-size: 45px;
}

.navi {
    background-color: #3a465d;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
}

.navi a {
    padding: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.navi a.active {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
          

.description {
    font-size: 22px;
    text-align: center;
}



h3 {
    text-decoration: underline;
    font-size: 22px
             }

ul {
    font-size: 18px;
}

ol {
    font-size: 18px;
}


footer {
        text-align: center;
        background-color: #343c4d;
        padding: 15px;
            }

footer a {
        padding: 20px 130px;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        margin: 20px;
             }
             
.servings {
            font-size: 12px;
            }
            
a:link {
        color: #ffd04f;
            }

a:visited {
            color: #ffe6a1;
            }

a:hover {
        color: #e67ae6;
    
            }



.center_table {
                margin: 0px auto;
                text-align: center;
            }
        